app/code/local/WSC/MageJam/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  name="{{var wsdl.name}}"
                  targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="shoppingCartProductEntity">
                <xsd:sequence>
                    <xsd:element name="super_attribute" type="typens:associativeArray" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartPaymentMethodResponseEntity">
                <xsd:sequence>
                    <xsd:element name="code" type="xsd:string"/>
                    <xsd:element name="title" type="xsd:string"/>
                    <xsd:element name="cc_types" type="typens:associativeArray"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="shoppingCartPaymentMethodResponseEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:shoppingCartPaymentMethodResponseEntity"/>
                </xsd:sequence>
            </xsd:complexType>
			<xsd:complexType name="shoppingCartPaymentListResponseEntity">
                <xsd:sequence>
                    <xsd:element name="code" type="xsd:string"/>
                    <xsd:element name="title" type="xsd:string"/>
                    <xsd:element name="cc_types" type="typens:associativeArray"/>
                </xsd:sequence>
            </xsd:complexType>
			<xsd:complexType name="paymentMethodListResponseEntity">
                <xsd:sequence>
                    <xsd:element name="code" type="xsd:string"/>
                    <xsd:element name="title" type="xsd:string"/>
                    <xsd:element name="cc_types" type="typens:associativeArray"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="paymentConfigListResponseEntity">
                <xsd:sequence>
                    <xsd:element name="code" type="xsd:string"/>
                    <xsd:element name="title" type="xsd:string"/>
                    <xsd:element name="cc_types" type="typens:associativeArray"/>
                    <xsd:element name="active" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="cctypes" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="model" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="order_status" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="allowspecific" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="group" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="useccv" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="centinel" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="min_order_total" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="max_order_total" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="sort_order" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="specificcountry" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="payable_to" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="mailing_address" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="allow_billing_agreement_wizard" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="verify_peer" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="payment_action" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="debug" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="line_items_enabled" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="solution_type" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="authorization_honor_period" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="order_valid_period" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="child_authorization_number" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="paypal_config" type="typens:paypalConfigEntity" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="paypalConfigEntity">
                <xsd:sequence>
                    <xsd:element name="general" type="typens:paypalConfigGeneral" minOccurs="0"/>
                    <xsd:element name="style" type="typens:paypalConfigStyle" minOccurs="0"/>
                    <xsd:element name="wpp" type="typens:paypalConfigWpp" minOccurs="0"/>
                    <xsd:element name="wpuk" type="typens:paypalConfigWpuk" minOccurs="0"/>
                    <xsd:element name="fetchReports" type="typens:paypalConfigFetchReports" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="paypalConfigGeneral">
                <xsd:sequence>
                    <xsd:element name="merchant_country" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="business_account" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="paypalConfigStyle">
                <xsd:sequence>
                    <xsd:element name="logo" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="page_style" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="paypal_hdrimg" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="paypal_hdrbackcolor" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="paypal_hdrbordercolor" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="paypal_payflowcolor" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="paypalConfigWpp">
                <xsd:sequence>
                    <xsd:element name="api_password" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="api_signature" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="api_username" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="button_flavor" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="api_authentication" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="sandbox_flag" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="use_proxy" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="paypalConfigWpuk">
                <xsd:sequence>
                    <xsd:element name="user" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="pwd" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="paypalConfigFetchReports">
                <xsd:sequence>
                    <xsd:element name="ftp_login" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ftp_password" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="schedule" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="time" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ftp_sandbox" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ftp_ip" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="ftp_path" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="active" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
			<xsd:complexType name="paymentMethodListResponseEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:paymentMethodListResponseEntity"/>
                </xsd:sequence>
            </xsd:complexType>
			<xsd:element name="paymentMethodListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="paymentMethodListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:paymentMethodListResponseEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="paymentConfigListResponseEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:paymentConfigListResponseEntity"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="paymentConfigListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="paymentConfigListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:paymentConfigListResponseEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="configInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="configInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:configInfoResponseEntity" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="configInfoResponseEntity">
                <xsd:sequence>
                    <xsd:element name="currency" type="typens:currencyInfo"/>
                    <xsd:element name="general" type="typens:generalInfo" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="currencyInfo">
                <xsd:sequence>
                    <xsd:element name="base" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="default" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="allow" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="generalInfo">
                <xsd:sequence>
                    <xsd:element name="default_country" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="allow_countries" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="optional_zip_countries" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="state_required" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="display_not_required_state" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="timezone" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="locale" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="guest_checkout" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="categoryAssignedProduct">
                <xsd:sequence>
                    <xsd:element name="product_id" type="xsd:int"/>
                    <xsd:element name="type" type="xsd:string"/>
                    <xsd:element name="set" type="xsd:int"/>
                    <xsd:element name="sku" type="xsd:string"/>
                    <xsd:element name="position" type="xsd:int"/>
                    <xsd:element name="categories" type="typens:ArrayOfString" minOccurs="0"/>
                    <xsd:element name="websites" type="typens:ArrayOfString" minOccurs="0"/>
                    <xsd:element name="media_info" type="typens:catalogProductImageEntityArray" minOccurs="0"/>
                    <xsd:element name="options" type="typens:categoryProductOptionArray" minOccurs="1"/>
                    <xsd:element name="bundle_attributes" type="typens:bundleAttribute" minOccurs="0"/>
                    <xsd:element name="configurable_attributes" type="typens:configurableAttributeArray" minOccurs="0"/>
                    <xsd:element name="downloadable_info" type="typens:catalogProductDownloadableLinkListEntity" minOccurs="0"/>
                    <xsd:element name="grouped_items" type="typens:groupedItemArray" minOccurs="0"/>
                    <xsd:element name="bundle_items" type="typens:bundleOptionArray" minOccurs="0"/>
                    <xsd:element name="created_at" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="updated_at" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="type_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="name" type="xsd:string" />
                    <xsd:element name="description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="short_description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="weight" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="status" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="url_key" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="url_path" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="visibility" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="category_ids" type="typens:ArrayOfString" minOccurs="0"/>
                    <xsd:element name="website_ids" type="typens:ArrayOfString" minOccurs="0"/>
                    <xsd:element name="has_options" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="gift_message_available" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="price" type="xsd:string" minOccurs="0"/>
                    <!--<xsd:element name="minimal_price" type="xsd:string" minOccurs="0"/>-->
                    <xsd:element name="special_price" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="special_from_date" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="special_to_date" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="tax_class_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="tier_price" type="typens:catalogProductTierPriceEntityArray" minOccurs="0"/>
                    <xsd:element name="meta_title" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="meta_keyword" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="meta_description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="custom_design" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="custom_layout_update" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="options_container" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="groupedItemArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:groupedItem"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="groupedItem">
                <xsd:sequence>
                    <xsd:element name="product_id" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="sku" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="price" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="is_saleable" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="position" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="qty" type="xsd:string" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="bundleOptionArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:bundleOption"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="bundleOption">
                <xsd:sequence>
                    <xsd:element name="option_id" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="required" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="position" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="type" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="default_title" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="title" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="selections" type="typens:bundleOptionSelectionArray" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="bundleOptionSelectionArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="bundleOptionSelection" type="typens:bundleOptionSelection"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="bundleOptionSelection">
                <xsd:sequence>
                    <xsd:element name="product_id" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="selection_id" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="sku" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="position" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="is_default" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="price" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="price_type" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="is_saleable" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="qty" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="can_change_qty" type="xsd:int" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="bundleAttribute">
                <xsd:sequence>
                    <xsd:element name="price_type" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="price_view" type="xsd:string" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="configurableAttributeArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:configurableAttribute"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="configurableAttribute">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="code" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="label" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="options" type="typens:configurableAttributeOptionArray" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="configurableAttributeOptionArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:configurableAttributeOption"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="configurableAttributeOption">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="label" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="price" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="oldPrice" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="products" type="typens:configurableOptionProductArray" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="configurableOptionProductArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:configurableOptionProduct"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="configurableOptionProduct">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="sku" type="xsd:string" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="categoryAssignedProductsArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:categoryAssignedProduct"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="layerFilterArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:layerFilter"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="layerFilter">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="code" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="items" type="typens:layerFilterItemArray" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="layerFilterItemArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:layerFilterItem"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="layerFilterItem">
                <xsd:sequence>
                    <xsd:element name="count" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="label" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="value" type="xsd:string" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="categoryProductOptionArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:categoryProductOption"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="categoryProductOption">
                <xsd:sequence>
                    <xsd:element name="option_id" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="title" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="type" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="sort_order" type="xsd:string" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="is_require" type="xsd:int" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="additional_fields" type="typens:productCustomOptionAdditionalFieldsArray" minOccurs="1" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productCustomOptionAdditionalFieldsEntity">
                <xsd:sequence>
                    <xsd:element name="title" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="price" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="price_type" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="sku" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="max_characters" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="sort_order" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="file_extension" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="image_size_x" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="image_size_y" type="xsd:string" minOccurs="0" maxOccurs="1" />
                    <xsd:element name="value_id" type="xsd:string" minOccurs="0" maxOccurs="1" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="productCustomOptionAdditionalFieldsArray">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="unbounded" name="complexObjectArray" type="typens:productCustomOptionAdditionalFieldsEntity" />
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="categoryAssignedProductsRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="categoryId" type="xsd:int" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="filters" type="typens:filters" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="customerId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="pageNumber" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="pageSize" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="categoryAssignedProductsResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:categoryAssignedProductsArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="layerFiltersRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="categoryId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="appliedFilters" type="typens:associativeArray" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="layerFiltersResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:layerFilterArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="searchProductsRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="query" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="filters" type="typens:associativeArray" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="pageNumber" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="pageSize" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="store" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="useLayerNavigation" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="searchProductsResult">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="products" type="typens:categoryAssignedProductsArray" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="layer_filters" type="typens:layerFilterArray" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="searchProductsResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:searchProductsResult" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="cartCreateRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="storeId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="customerId" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cartCreateResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="cartMergeRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="guestQuoteId" type="xsd:int" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="customerQuoteId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="storeId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cartMergeResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:shoppingCartInfoEntity" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cartCollectTotalsRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="quoteId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="storeId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cartCollectTotalsResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:shoppingCartInfoEntity" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="checkoutAgreementsRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="storeId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="checkoutAgreementsResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:checkoutAgreementsArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="checkoutAgreementsArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:checkoutAgreementsEntity"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="checkoutAgreementsEntity">
                <xsd:sequence>
                    <xsd:element minOccurs="1" maxOccurs="1" name="agreement_id" type="xsd:int" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="content" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="content_height" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="checkbox_text" type="xsd:string" />
                    <xsd:element minOccurs="1" maxOccurs="1" name="is_html" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="magejamVersionRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="magejamVersionResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
	<wsdl:message name="paymentMethodListRequest">
        <wsdl:part name="parameters" element="typens:paymentMethodListRequestParam" />
    </wsdl:message>
    <wsdl:message name="paymentMethodListResponse">
        <wsdl:part name="parameters" element="typens:paymentMethodListResponseParam" />
    </wsdl:message>
    <wsdl:message name="paymentConfigListRequest">
        <wsdl:part name="parameters" element="typens:paymentConfigListRequestParam" />
    </wsdl:message>
    <wsdl:message name="paymentConfigListResponse">
        <wsdl:part name="parameters" element="typens:paymentConfigListResponseParam" />
    </wsdl:message>
    <wsdl:message name="configInfoRequest">
        <wsdl:part name="parameters" element="typens:configInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="configInfoResponse">
        <wsdl:part name="parameters" element="typens:configInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="categoryAssignedProductsRequest">
        <wsdl:part name="parameters" element="typens:categoryAssignedProductsRequestParam" />
    </wsdl:message>
    <wsdl:message name="categoryAssignedProductsResponse">
        <wsdl:part name="parameters" element="typens:categoryAssignedProductsResponseParam" />
    </wsdl:message>
    <wsdl:message name="layerFiltersRequest">
        <wsdl:part name="parameters" element="typens:layerFiltersRequestParam" />
    </wsdl:message>
    <wsdl:message name="layerFiltersResponse">
        <wsdl:part name="parameters" element="typens:layerFiltersResponseParam" />
    </wsdl:message>
    <wsdl:message name="searchProductsRequest">
        <wsdl:part name="parameters" element="typens:searchProductsRequestParam" />
    </wsdl:message>
    <wsdl:message name="searchProductsResponse">
        <wsdl:part name="parameters" element="typens:searchProductsResponseParam" />
    </wsdl:message>
    <wsdl:message name="cartCreateRequest">
        <wsdl:part name="parameters" element="typens:cartCreateRequestParam" />
    </wsdl:message>
    <wsdl:message name="cartCreateResponse">
        <wsdl:part name="parameters" element="typens:cartCreateResponseParam" />
    </wsdl:message>
    <wsdl:message name="cartMergeRequest">
        <wsdl:part name="parameters" element="typens:cartMergeRequestParam" />
    </wsdl:message>
    <wsdl:message name="cartMergeResponse">
        <wsdl:part name="parameters" element="typens:cartMergeResponseParam" />
    </wsdl:message>
    <wsdl:message name="cartCollectTotalsRequest">
        <wsdl:part name="parameters" element="typens:cartCollectTotalsRequestParam" />
    </wsdl:message>
    <wsdl:message name="cartCollectTotalsResponse">
        <wsdl:part name="parameters" element="typens:cartCollectTotalsResponseParam" />
    </wsdl:message>
    <wsdl:message name="checkoutAgreementsRequest">
        <wsdl:part name="parameters" element="typens:checkoutAgreementsRequestParam" />
    </wsdl:message>
    <wsdl:message name="checkoutAgreementsResponse">
        <wsdl:part name="parameters" element="typens:checkoutAgreementsResponseParam" />
    </wsdl:message>
    <wsdl:message name="magejamVersionRequest">
        <wsdl:part name="parameters" element="typens:magejamVersionRequestParam" />
    </wsdl:message>
    <wsdl:message name="magejamVersionResponse">
        <wsdl:part name="parameters" element="typens:magejamVersionResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="paymentMethodList">
            <wsdl:documentation>Get list of payment available method for quote </wsdl:documentation>
            <wsdl:input message="typens:paymentMethodListRequest"/>
            <wsdl:output message="typens:paymentMethodListResponse"/>
        </wsdl:operation>
		<wsdl:operation name="paymentConfigList">
            <wsdl:documentation>Get list of payment methods configuration</wsdl:documentation>
            <wsdl:input message="typens:paymentConfigListRequest"/>
            <wsdl:output message="typens:paymentConfigListResponse"/>
        </wsdl:operation>
        <wsdl:operation name="configInfo">
            <wsdl:documentation>Get config settings</wsdl:documentation>
            <wsdl:input message="typens:configInfoRequest"/>
            <wsdl:output message="typens:configInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="categoryAssignedProducts">
            <wsdl:documentation>Get list of products</wsdl:documentation>
            <wsdl:input message="typens:categoryAssignedProductsRequest"/>
            <wsdl:output message="typens:categoryAssignedProductsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="layerFilters">
            <wsdl:documentation>Get list of layer filters</wsdl:documentation>
            <wsdl:input message="typens:layerFiltersRequest"/>
            <wsdl:output message="typens:layerFiltersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="searchProducts">
            <wsdl:documentation>Get list of layer filters</wsdl:documentation>
            <wsdl:input message="typens:searchProductsRequest"/>
            <wsdl:output message="typens:searchProductsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="cartCreate">
            <wsdl:documentation>Returns active quoteId or creates new</wsdl:documentation>
            <wsdl:input message="typens:cartCreateRequest"/>
            <wsdl:output message="typens:cartCreateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="cartMerge">
            <wsdl:documentation>Merges guest quote with customer quote, makes guest quote not-active</wsdl:documentation>
            <wsdl:input message="typens:cartMergeRequest"/>
            <wsdl:output message="typens:cartMergeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="cartCollectTotals">
            <wsdl:documentation>Collect Totals</wsdl:documentation>
            <wsdl:input message="typens:cartCollectTotalsRequest"/>
            <wsdl:output message="typens:cartCollectTotalsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="checkoutAgreements">
            <wsdl:documentation>Returns current versions of MageJam Module</wsdl:documentation>
            <wsdl:input message="typens:checkoutAgreementsRequest"/>
            <wsdl:output message="typens:checkoutAgreementsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="magejamVersion">
            <wsdl:documentation>Returns current versions of MageJam Module</wsdl:documentation>
            <wsdl:input message="typens:magejamVersionRequest"/>
            <wsdl:output message="typens:magejamVersionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="paymentMethodList">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="paymentConfigList">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="configInfo">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="categoryAssignedProducts">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="layerFilters">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="searchProducts">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cartCreate">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cartMerge">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cartCollectTotals">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkoutAgreements">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="magejamVersion">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
